---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
description: "Journal articles, conference papers, and reports by Jeffrey Wong and collaborators."
---

<p>You can also find my work on <a href="{{ site.author.googlescholar }}">Google Scholar</a> and <a href="{{ site.author.orcid }}">ORCID</a>.</p>

{% for category in site.publication_category %}
  {% assign category_posts = site.publications | where: 'category', category[0] | sort: 'date' | reverse %}
  {% if category_posts.size > 0 %}
    <h2>{{ category[1].title }}</h2>
    {% for post in category_posts %}
      {% include publication-entry.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
