---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
description: "Conference presentations, posters, and workshops contributed to by Jeffrey Wong."
---

<p>Conference presentations, posters, and workshops I have presented or co-authored.</p>

## Where I've presented
{% include presentation-map.html %}

{% assign talks = site.talks | sort: 'date' | reverse %}
{% for post in talks %}
  {% assign year = post.date | date: '%Y' %}
  {% if year != previous_year %}
    <h2>{{ year }}</h2>
    {% assign previous_year = year %}
  {% endif %}
  {% include archive-single-talk.html %}
{% endfor %}
